<%- include('./partials/headercode.ejs') %>

<body>

  <!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar  ">
  <div class="layout-container">

  
    <!-- sidebar imported -->
    <%- include('./partials/sidebar.ejs') %>

    <!-- Layout container -->
    <div class="layout-page">
      
      

       <!-- navbar imported -->
       <%- include('./partials/navbar.ejs') %>




      

      <!-- Content wrapper -->
      <div class="content-wrapper">


        

        <!-- Content -->
        
          <div class="container-xxl flex-grow-1 container-p-y">

            <div class="row">

              <h4 class="fw-bold py-3 mb-4"> Stock Entry</h4>
            
              </div>


              <div class="container-xxl flex-grow-1 container-p-y">

                <div class="row">
    
                <div class="col-md-6">
                  <div class="card mb-4">
                    <h5 class="card-header">Customer Name</h5>
                    <div class="card-body">
                      <div>
                        
                        <input type="text" class="form-control" id="defaultFormControlInput"  aria-describedby="defaultFormControlHelp" />
                       
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4">
                      <h5 class="card-header">Date</h5>
                      <div class="card-body">
                        <div>
                          
                          <input class="form-control" type="date" value="2022-08-13" id="html5-date-input" />
                         
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
    
                  <div class="row">
    
                  <div class="col-md-6">
                    <div class="card mb-4">
                      <h5 class="card-header">Invoice Number</h5>
                      <div class="card-body">
                        <div>
                          
                          <input type="text" class="form-control" id="defaultFormControlInput"  aria-describedby="defaultFormControlHelp" />
                         
                        </div>
                      </div>
                    </div>
                  </div>
                  
                    <div class="col-md-6">
                      <div class="card mb-4">
                        <h5 class="card-header">Phone Number</h5>
                        <div class="card-body">
                          <div>
                            
                            <input type="text" class="form-control" id="defaultFormControlInput"  aria-describedby="defaultFormControlHelp" />
                           
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
    

              <div class="row">

              
              
              </div>



              <div class="card mb-4">
                
                <form class="form-main">
                <div class="card-body form-block">
                  <div class="table-responsive text-nowrap ">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Medicine Infromation</th>
                          
                         
                          <th>Date of Input</th>
                          <th>Quantity</th>
                          <th>Batch Number</th>
                          <th>Price</th>
                          
                          <th>Total</th>
                  
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td> <input type="text" class="form-control" id="basic-default-name" placeholder="Medicine Name" /></td>
                         
                          
                          <td> <input class="form-control" type="date" value="2022-08-13" id="html5-date-input" /></td>
                          <td>
                            <input type="text" class="form-control" id="basic-default-name"  />
                          </td>
                          <td>
                            <input type="text" class="form-control" id="basic-default-name"  />
                          </td>

                          <td>
                            <input type="text" class="form-control" id="basic-default-name"  />
                          </td>

                          

                          <td>
                            <input type="text" class="form-control" id="basic-default-name"  />
                          </td>
                        </tr>
                        
                        
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            
              </div>
              <!--/ Bordered Table -->

              

              
          
               






          <div class="text-center">
            <button type="button" class="btn btn-primary">Search</button>
          </div>
          </div>
          <!-- / Content -->

          
          



          
          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    
    
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    
    
  </div>
  <!-- / Layout wrapper -->

  <%- include('./partials/footercode.ejs') %>


  
  <script>
    $('.add-more-btn').click(function() {
  var clone = $('.form-main:first').clone('');
  clone.find('input').val('');
  $(".buttonBox").before(clone);
});

$('.remove').click(function(){
  $('.form-main:last').remove();
});
  </script>




 
  
</body>


</html>
